{{ block_builder }}
    {{ if type === "hero" }}
        {{ partial:components/Hero/hero image=image }}
    {{ /if }}
    {{ if type === "image_aside" }}
        {{ partial:components/ImageAside/image-aside image=image background=background image_side=image_side }}
    {{ /if }}
    {{ if type === "image_aside_overlayed" }}
        {{ partial:components/ImageAsideOverlayed/image-aside-overlayed image=image image_overlayed=image_overlayed background=background image_side=image_side }}
    {{ /if }}
    {{ if type === "image_text_block" }}
        {{ partial:components/ImageTextBlock/image-text-block image_one=image_one image_two=image_two background=background }}
    {{ /if }}
    {{ if type === "cards" }}
        {{ partial:components/Cards/cards }}
    {{ /if }}
    {{ if type === "bard" }}
        {{ partial:components/Bard/bard background=background }}
    {{ /if }}
    {{ if type === "accordion" }}
        {{ partial:components/Accordion/accordion }}
    {{ /if }}
    {{ if type === "full_width_text" }}
        {{ partial:components/FullWidthText/full-width-text }}
    {{ /if }}
    {{ if type === "image_block" }}
        {{ partial:components/ImageBlock/image-block image=image }}
    {{ /if }}
{{ /block_builder }}