<section class="section image-aside {{ background:value }}"
    id={{ anchor }}>
<div class="image-aside__container {{ image_side === "left" ? 'image--left' : 'image--right' }}">
    <div class="image-aside__text py-8 lg:py-12">
        <p class="p p-base image-aside__pre">
            {{ pre_title }}
        </p>
        <h2 class="heading-2 font-sans max-w-xl image-aside__title
                    {{ background:value === "bg-brand-primary" ? "text-brand-white" : "text-brand-primary" }}">
            {{ title }}
        </h2>
        <p class="p p-base mt-4 mb-6 {{ background:value === "bg-brand-primary" ? "text-brand-white" : "text-brand-black" }}">
            {{ textarea }}
        </p>
    </div>
    <div class="image-aside__image-container">
        <div class="image-aside__image px-4 lg:p-0">
            {{ asset:image }}
                <img 
                    src="{{ glide:image }}"
                    loading="lazy"
                    alt="{{ alt }}"
                />
            {{ /asset:image }}
        </div>
    </div>
</div>
</section>
